/* AronGrotesque */
/*****************/
@font-face {
  font-family: 'AronGrotesque';
  src: url('fonts/aron-grotesque.regular-webfont.woff2') format('woff2'),
       url('fonts/aron-grotesque.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AronGrotesque';
  src: url('fonts/aron-grotesque.bold-webfont.woff2') format('woff2'),
       url('fonts/aron-grotesque.bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AronGrotesque';
  src: url('fonts/aron-grotesque.light-webfont.woff2') format('woff2'),
       url('fonts/aron-grotesque.light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AronGrotesque';
  src: url('fonts/aron-grotesque.black-webfont.woff2') format('woff2'),
       url('fonts/aron-grotesque.black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: oblique;
}

/* Carlito */
/***********/
@font-face {
  font-family: 'Carlito';
  src: url('fonts/carlito-regular-webfont.woff2') format('woff2'),
       url('fonts/carlito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Carlito';
  src: url('fonts/carlito-bold-webfont.woff2') format('woff2'),
       url('fonts/carlito-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'Carlito';
  src: url('fonts/carlito-italic-webfont.woff2') format('woff2'),
       url('fonts/carlito-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Carlito';
  src: url('fonts/carlito-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/carlito-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* JetBrainsMono */
/*****************/
@font-face {
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Italic.woff2') format('woff2'),
       url('fonts/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
       url('fonts/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


html {
  font-size: 110%;
}
body {
  color: #624B08;
  background-color: ghostwhite;
  font-family: Carlito, sans-serif;
}
code {
  font-family: JetBrainsMono, monospace;
  font-size: 0.75rem;
}
a {
  text-decoration: none;
  color: #bb8d02;
}
a:hover {
  color: #dfa800;
}
h1, h2, h3, h4, h5, h6, .header {
  font-family: AronGrotesque, sans-serif;
  color: #463605; /* a bit darker than the text in body */
  margin-bottom: 0.8rem;
  margin-top: 2rem;
}
ul li, ol li {
  margin-bottom: 0.9rem;
}
details summary {
  display: list-item;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}
.subtitle-date {
  margin-top: -0.5rem;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
}
.post {
  padding-left: 5%;
  padding-right: 5%;
}
.post p {
  text-align: justify;
}
.subtitle-image {
  font-size: 0.9rem;
  padding-left: 0.4rem;
}

/* Inline code inside backticks in markdown */
:not(pre) > code {
  color: #730093;
}

/* Workaround to use markdown tables with pure-css styles */
.pure-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
.pure-table-wrapper thead {
  background-color: #e0e0e0;
  text-align: left;
  vertical-align: bottom;
}
.pure-table-wrapper td, .pure-table-wrapper th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}
.pure-table-striped-wrapper tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { /*...*/ }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 120%;
  }
}

/* Medium to large devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 130%;
  }
}
